# ====== General ======
.DS_Store
Thumbs.db

# ====== IntelliJ IDEA ======
.idea/
*.iws
*.iml
*.ipr

# ====== VS Code ======
.vscode/

# Ignore SSH keys
*-key
*-key.pub
github-actions-key
github-actions-key.pub

# Ignore Environment Variables
.env
*.env