# ====== Maven ======
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ====== Spring Boot ======
HELP.md

# ====== Build tools ======
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ====== Eclipse / STS ======
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ====== NetBeans ======
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/